WUYUE_ACCESS_KEY_ID=replace-with-access-key-id
WUYUE_ACCESS_KEY_SECRET=replace-with-access-key-secret
WUYUE_PHOTONIC_DEVICE_ID=WuYue-QPU-Qboson-1000
WUYUE_SUPERCONDUCTING_DEVICE_ID=WuYue-QPU-Baihua
WUYUE_SIMULATOR_DEVICE_ID=WuYue-QPUSim-FullAmpSim
WUYUE_CLOUD_TIMEOUT=600
WUYUE_PHOTONIC_MATRIX_TYPE=ising
QUAFU_API_TOKEN=replace-with-quafu-token
